<footer class="d-flex flex-column">
  <div class="form d-flex justify-content-center">
    <%= form_with(url: subscribe_path, method: :post, turbolinks: false) do  %>
    <!-- Very strange whitespace bug -->
    <div class="d-flex pt-5 pb-3">
      <%= email_field(:user, :email, class: "mailing-form", placeholder: "Keep up to date...") %>
      <%= submit_tag("Subscribe", class: " mailing-btn") %>
      </div>
    <% end %>
  </div>
  <div class="footer-links-list d-flex justify-content-center mb-0">
    <%= link_to "https://www.youtube.com/watch?v=dQw4w9WgXcQ", class: "navbar-wagon-item navbar-wagon-link footer-link m-2" do %>
        <i class="fab fa-facebook-square fa-3x"></i>
    <% end %>
    <%= link_to "https://www.instagram.com/bopnightlife/", class: "navbar-wagon-item navbar-wagon-link footer-link m-2" do %>
      <i class="fab fa-instagram fa-3x"></i>
    <% end %>
    <%= link_to "https://twitter.com/bopnightlife", class: "navbar-wagon-item navbar-wagon-link footer-link m-2" do %>
      <i class="fab fa-twitter-square fa-3x"></i>
    <% end %>
    <%= link_to "https://www.linkedin.com/in/bop-nightlife-a62ba61a9/", class: "navbar-wagon-item navbar-wagon-link footer-link m-2" do %>
      <i class="fab fa-linkedin fa-3x"></i>
    <% end %>
  </div>
  <div class="copyright">
    <p class="text-center pt-2">© BopNightLife 2020 All Rights Reserved.</p>
  </div>
</footer>
