<footer class="d-flex">
  <div class="links">
      <div class="footer-links-list-2 d-md-flex justify-content-center mb-0">
        <%= link_to "#", class: "navbar-wagon-item navbar-wagon-link footer-link m-2" do %>
          <%= icon "fab", "facebook-square", class: "fa-3x" %>
            <!-- <i class="fab fa-facebook-square fa-3x"></i></p> -->
        <% end %>
        <%= link_to "#", class: "navbar-wagon-item navbar-wagon-link footer-link m-2" do %>
          <p class="footer-link"><i class="fab fa-instagram fa-3x"></i></p>
        <% end %>
        <%= link_to "#", class: "navbar-wagon-item navbar-wagon-link footer-link m-2" do %>
          <p class="footer-link"><i class="fab fa-twitter-square fa-3x"></i></p>
        <% end %>
        <%= link_to "#", class: "navbar-wagon-item navbar-wagon-link footer-link m-2" do %>
          <p class="footer-link"><i class="fab fa-linkedin fa-3x"></i></p>
        <% end %>
      <div>
  </div>
  <%= form_with(url: subscribe_path, method: :get) do  %>
    <%= email_field(:user, :email, class: "mailing-form") %>
    <%= submit_tag("Subscribe", class: "btn btn-md btn-primary mailing-btn", placeholder: "Keep up to date...") %>
  <% end %>
</footer>
