
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <!-- Two divs for centering div -->
  <div class="invisible d-none d-sm-block"></div>
  <div class="invisible d-block d-sm-none" style="width: 56px"></div>
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if user_signed_in? %>
        <div class="nav-item active">
          <%= link_to "Admin Page", admin_dashboard_path, class: "nav-link" %>
        </div>
        <div class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </div>
      <% else %>
          <div class="d-flex d-sm-none flex-column">
              <ul class="list-group list-group-flush">
            <% if params[:action] == 'index' && params[:controller] == 'nightclubs' %>
              <% @nightclubs.each do |nightclub| %>
                 <li class="list-group-item"><a href=<%= "##{nightclub.name_as_html_id}" %>> <%= nightclub.name %></a></li>
              <% end %>
            <% else %>
              <li class="list-group-item"><%= link_to "Home", root_path %></li>
            <% end %>
              </ul>
          </div>
      <% end %>
  </div>
</div>
