<div class="nightclub-card" id=<%= nightclub.name_as_html_id %>>
  <div class="nightclub-card-static">
    <% if nightclub.photo.attached? %>
      <%= cl_image_tag nightclub.photo.key, width: 120, height: 120, crop: :fill %>
    <% else %>
      <%= image_tag "logo.png", alt: "No image yet" %>
    <% end %>
    <div class="nightclub-card-static-info">
      <%= render "nightclub_static_data", nightclub: nightclub %>
    </div>
    <div class="partial-border">
    </div>
  </div>
  <div class="nightclub-card-live">
    <div class="live d-flex">
      <% unless nightclub.live_data? %>
        <div class="d-flex flex-column justify-content-end">
          <p style="font-style: italic; font-weight: lighter; margin-bottom: 0px;">No data yet</p>
        </div>
      <% end %>
      <% if nightclub.queue_time %>
        <div class="square">
          <%= nightclub.queue_time_string %><span class="live-text-span">Queue time</span>
        </div>
      <% end %>
      <% if nightclub.gender_mix %>
        <div class="square">
          <%= nightclub.gender_mix_string %><span class="live-text-span">Gender Mix</span>
        </div>
      <% end %>
      <% if nightclub.capacity_percentage %>
        <div class="square">
          <%= nightclub.capacity_percentage_string %><span class="live-text-span">Capacity</span>
        </div>
      <% end %>
      <%= render "spinner" if nightclub.recently_updated? %>
    </div>
    <div class="promotions">
      <% if nightclub.promotions.active.any? %>
        <% nightclub.promotions.active.each do |promotion| %>
          <%= link_to promotion_path(promotion), class: "btn btn-md btn-primary" do %>
            <%= promotion.description %>
          <% end %>
        <% end %>
      <% else %>
        <p style="font-style: italic; font-weight: lighter; margin-bottom: 0px;">No promos yet</p>
      <% end %>
    </div>
  </div>
</div>
