<div class="nightclub-card" id=<%= nightclub.name_as_html_id %>>
  <div class="nightclub-card-static">
    <% if nightclub.photo.attached? %>
      <%= cl_image_tag nightclub.photo.key, width: 120, height: 120, crop: :fill %>
    <% else %>
      <%= image_tag "logo.png", alt: "No image yet" %>
    <% end %>
    <div class="nightclub-card-static-info">
      <h2><%= nightclub.name %></h2>
      <p><%= nightclub.description %></p>
      <p id="style"><%= "#{nightclub.style}" %></p>
      <p><%= "Cheapest Lager: £#{nightclub.cheapest_lager} "%></p>
      <p><%= "Cheapest Shot:  £#{nightclub.cheapest_shot} "%></p>
      <p><%= "Cheapest Mixer: £#{nightclub.cheapest_mixer} "%></p>
      <p><%= "#{nightclub.present_address}" %></p>
      <div class="opening-hours flex">
        <p>
          <% %W(M T W T F S S).each_with_index do |day, index| %>
            <% string = nightclub.opening_days_of_week.include?(index + 1) ? 'day-of-week-circle' : '' %>
            <span class=<%= string %>><%= day %></span>
          <% end %>
      </p>
      </div>
    </div>
    <div class="partial-border">
    </div>
  </div>
  <div class="nightclub-card-live">
    <div class="live">
      <p><span style="font-weight:lighter">Queue time: </span><%= nightclub.queue_time_string %></p>
      <p><span style="font-weight:lighter">Gender Mix: </span><%= nightclub.gender_mix_string %></p>
      <% if nightclub.recently_updated? %>
        <div class="live-indicator-and-text">
          <div class="live-indicator">
          </div>
          <p>Just In</p>
        </div>
      <% end %>
    </div>
    <div class="promotions">
      <% if nightclub.promotions.active.any? %>
        <% nightclub.promotions.active.each do |promotion| %>
          <%= link_to promotion_path(promotion), class: "btn btn-md btn-primary" do %>
            <%= promotion.description %>
          <% end %>
        <% end %>
      <% else %>
        <p style="font-style: italic; font-weight: lighter;">No promos yet</p>
      <% end %>
    </div>
  </div>
</div>
